@keyframes up-down-rotate {
  0% {
    transform: translateY(0px) rotate(-20deg);
  }
  50% {
    transform: translateY(200px) rotate(20deg);
  }
  100% {
    transform: translateY(0px) rotate(-20deg);
  }
}
@keyframes up-down {
  0% {
    transform: translateY(0px) translateX(0px);
  }
  50% {
    transform: translateY(200px) translateX(200px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
}

@keyframes fly {
  0% {
    transform: translateY(0px) translateX(-85vw) rotate(-20deg);
  }
  50% {
    transform: translateY(100px) rotate(20deg);
  }
  100% {
    transform: translateY(0px) translateX(50vw) rotate(-20deg);
  }
}
@keyframes arrow-up {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes arrow-left {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
